.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#simulatorCanvas {
    border: 1px solid black;
}

.text-input {
    border-width: 0;
}

.numberInput {
    border: none;
}

.numberInput:focus {
    outline: none;
}